{% extends "common/layout.html" %}

{% block content %}
<div class="container">
  <h1>バックログ</h1>
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <td scope="col" style="width: 90%">内容</td>
        <td scope="col">ストーリーポイント</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>パーソナリティ情報から、アイコン画像を生成する。</td>
        <td></td>
      </tr>
      <tr>
        <td>ここまでの知識・ノウハウの整理。</td>
        <td></td>
      </tr>
      <tr>
        <td>抜本的なアーキテクチャ・データベース設計の見直し。</td>
        <td></td>
      </tr>
      <tr>
        <td>認証・セッション管理の導入。</td>
        <td></td>
      </tr>
      <tr>
        <td>パーソナリティAIの精度向上</td>
        <td></td>
      </tr>
      <tr>
        <td>パーソナリティAIのデータ数増加</td>
        <td></td>
      </tr>
      <tr>
        <td>最初のターゲットサービスを決める</td>
        <td></td>
      </tr>
      <tr>
        <td>既存ユースケースの洗練化</td>
        <td></td>
      </tr>
      <tr>
        <td>新しいユースケースの開発</td>
        <td></td>
      </tr>
      <tr>
        <td>パーソナリティAIの登録を生成AIで対話形式での登録に変更する（インタビュー形式）。</td>
        <td></td>
      </tr>
      <tr>
        <td>チャット機能への音声入力・音声出力機能の追加</td>
        <td></td>
      </tr>
      <tr>
        <td>OpenIDとの連携</td>
        <td></td>
      </tr>
      <tr>
        <td>パーソナリティAIの世代管理。汎化と特化。</td>
        <td></td>
      </tr>
      <tr>
        <td>パーソナリティAIへ知識・経験のアーカイブ（RAG化）</td>
        <td></td>
      </tr>
      <tr>
        <td>パーソナリティAIのファインチューニング</td>
        <td></td>
      </tr>
      <tr>
        <td>パーソナリティAIの個人モデル化（スマホの中でパーソナリティAIを自動学習）</td>
        <td></td>
      </tr>
    </tbody>
  </table>  

</div>
{% endblock %}
