{% extends "common/layout.html" %}

{% block content %}
<div class="container">
  <h1>バックログ</h1>
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <td scope="col" style="width: 90%">内容</td>
        <td scope="col">ストーリーポイント</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>パーソナリティ情報から、アイコン画像を生成する。</td>
        <td></td>
      </tr>
      <tr>
        <td>ここまでの知識・ノウハウの整理。</td>
        <td></td>
      </tr>
      <tr>
        <td>抜本的なアーキテクチャ・データベース設計の見直し。</td>
        <td></td>
      </tr>
      <tr>
        <td>認証・セッション管理の導入。</td>
        <td></td>
      </tr>
      <tr>
        <td>パーソナリティAIの精度向上</td>
        <td></td>
      </tr>
      <tr>
        <td>パーソナリティAIのデータ数増加</td>
        <td></td>
      </tr>
      <tr>
        <td>最初のターゲットサービスを決める</td>
        <td></td>
      </tr>
      <tr>
        <td>既存ユースケースの洗練化</td>
        <td></td>
      </tr>
      <tr>
        <td>新しいユースケースの開発</td>
        <td></td>
      </tr>
    </tbody>
  </table>  

</div>
{% endblock %}
