{% extends "common/layout.html" %}

{% block content %}
<div class="container">
  <h1>開発履歴</h1>
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <td scope="col">No</td>
        <td scope="col">日付</td>
        <td scope="col">内容</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">23</td>
        <td>2024/09/18</td>
        <td>資料作成とアップ。構築手順の整理。提出。</td>
      </tr>
      <tr>
        <td scope="row">22</td>
        <td>2024/09/19</td>
        <td>History・Backlogページの整理。GithubへのPush。</td>
      </tr>
      <tr>
        <td scope="row">21</td>
        <td>2024/09/18</td>
        <td>ユースケース・アイディア集のページ作成。デモ動画作成。</td>
      </tr>
      <tr>
        <td scope="row">20</td>
        <td>2024/09/17</td>
        <td>パーソナリティ要約対応。データ準備。What's PersonalityAIページ作成</td>
      </tr>
      <tr>
        <td scope="row">20</td>
        <td>2024/09/16</td>
        <td>リファクタリングとDB設計の見直し。</td>
      </tr>
      <tr>
        <td scope="row">19</td>
        <td>2024/09/15</td>
        <td>AIアンケート実行機能開発。</td>
      </tr>
      <tr>
        <td scope="row">18</td>
        <td>2024/09/14</td>
        <td>AIアンケート登録、一覧、詳細機能開発。</td>
      </tr>
      <tr>
        <td scope="row">17</td>
        <td>2024/09/13</td>
        <td>AIミーティング機能実装。</td>
      </tr>
      <tr>
        <td scope="row">16</td>
        <td>2024/09/12</td>
        <td>LangGraphの学習。チュートリアルの動作確認。</td>
      </tr>
      <tr>
        <td scope="row">15</td>
        <td>2024/09/11</td>
        <td>CloudRunJobの学習。簡易的なJob実行の確認。</td>
      </tr>
      <tr>
        <td scope="row">14</td>
        <td>2024/09/10</td>
        <td>1on1チャット機能開発。</td>
      </tr>
      <tr>
        <td scope="row">13</td>
        <td>2024/09/09</td>
        <td>1on1チャット選択機能開発。AIミーティング登録機能開発。</td>
      </tr>
      <tr>
        <td scope="row">12</td>
        <td>2024/09/08</td>
        <td>リファクタリングと設計の見直し。</td>
      </tr>
      <tr>
        <td scope="row">11</td>
        <td>2024/09/07</td>
        <td>パーソナリティ管理の更新・削除機能実装。</td>
      </tr>
      <tr>
        <td scope="row">10</td>
        <td>2024/09/06</td>
        <td>パーソナリティ管理の一覧・詳細機能実装。</td>
      </tr>
      <tr>
        <td scope="row">9</td>
        <td>2024/09/05</td>
        <td>Gemini&LangChainの学習。LangChain経由でGeminiに繋いでみる。</td>
      </tr>
      <tr>
        <td scope="row">8</td>
        <td>2024/09/04</td>
        <td>パーソナリティAI登録画面開発</td>
      </tr>
      <tr>
        <td scope="row">7</td>
        <td>2024/09/03</td>
        <td>パーソナリティAIのデータ設計／画面設計</td>
      </tr>
      <tr>
        <td scope="row">6</td>
        <td>2024/09/02</td>
        <td>CloudRunの勉強。Dockerコンテナを上げてみる。</td>
      </tr>
      <tr>
        <td scope="row">5</td>
        <td>2024/09/01</td>
        <td>GoogleCloud上でプロジェクト作成</td>
      </tr>
      <tr>
        <td scope="row">4</td>
        <td>2024/08/30</td>
        <td>性格診断サイトを使ったPoCを完了。一定の精度が出たので、次のステップへ。</td>
      </tr>
      <tr>
        <td scope="row">4</td>
        <td>2024/08/19</td>
        <td>性格診断サイトを使ったPoCを実施。RSMEによる評価。</td>
      </tr>
      <tr>
        <td scope="row">2</td>
        <td>2024/08/06</td>
        <td>パーソナリティAIの学術的な勉強開始（書籍を読む、Web調査）。</td>
      </tr>
      <tr>
        <td scope="row">3</td>
        <td>2024/08/05</td>
        <td>パーソナリティAIを作ることに決める。</td>
      </tr>
      <tr>
        <td scope="row">2</td>
        <td>2024/08/04</td>
        <td>漠然と作りたくなり、企画構想を始める。</td>
      </tr>
      <tr>
        <td scope="row">1</td>
        <td>2024/08/02</td>
        <td>Google Cloud Next Tokyoでハンズオンを受け、GoogleAIハッカソンの存在を知る。</td>
      </tr>
     </tbody>
  </table>  

</div>
{% endblock %}
