{% extends "common/layout.html" %}

{% block content %}
<div class="container">
  <h1>パーソナリティ更新入力画面</h1>
  <form action="/personality_update_action" method="POST">
    <input type="hidden" name="id" value="{{ personality.id }}" />
    <table>
      <tbody>
        <tr>
          <td><label for="id">ID</label></td>
          <td>{{ personality.id }}</td>
        </tr>
        <tr>
          <td><label for="name">名前（ニックネーム）</label></td>
          <td><input type="text" name="name" value="{{ personality.name }}"></td>
        </tr>
        <tr>
          <td><label for="mail">メールアドレス</label></td>
          <td><input type="text" name="mail" value="{{ personality.mail }}"></td>
        </tr>
        <tr>
          <td><label for="sex">性別</label></td>
          <td>
            {% for sex in sexes %}
              <input type="radio" name="sex" value="{{ sex.sex }}" {% if personality.sex == sex.sex %} checked {% endif %}>{{ sex.sex_name }}
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td><label for="age">年齢</label></td>
          <td>
            <select name="age">
              {% for i in range(1, 100, 1) %}
                <option value="{{ i }}" {% if personality.age == i %} selected {% endif %}>{{ i }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="basic_info">基本情報</label></td>
          <td><textarea name="basic_info" cols="100" rows="10">{{ personality.basic_info }}</textarea></td>
        </tr>
        <tr>
          <td><label for="career_info">経歴・キャリア</label></td>
          <td><textarea name="career_info" cols="100" rows="10">{{ personality.career_info }}</textarea></td>
        </tr>
        <tr>
          <td><label for="stereo_type">ステレオタイプ</label></td>
          <td>
            <select name="stereo_type">
              {% for stereo_type in stereo_types %}
                <option value="{{ stereo_type.stereo_type }}" {% if personality.stereo_type == stereo_type.stereo_type %} selected {% endif %}>{{ stereo_type.stereo_name }}</option>
              {% endfor %}
            </select>
            <label for="stereo_type">ステレオタイプ<a href="https://www.16personalities.com/ja" target="_blank">診断はこちら</a>
          </td>
        </tr>
        <tr>
          <td><label for="detail_info">詳細情報</label></td>
          <td><textarea name="detail_info" cols="100" rows="10">{{ personality.detail_info }}</textarea></td>
        </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">更新</button>
  </form>
</div>
{% endblock %}
