{% extends "common/layout.html" %}

{% block content %}
<div class="container mt-4">
  <h2>パーソナリティAI一覧</h2>
  <a class="nav-link active" aria-current="page" href="{{ url_for('render_index') }}">戻る</a>
  <table class="table">
    <thead class="table-light">
      <tr>
        <td></td>
        <td>名前（ニックネーム）</td>
        <td>メール</td>
        <td>性別</td>
        <td>年齢</td>
        <td>ステレオタイプ</td>
        <td>更新日時</td>
      </tr>
    </thead>
    <tbody>
      {% for personality in personalities %}
        <tr>
          <td><a href="{{ url_for('personality_detail') }}?id={{personality.id}}">詳細へ</a></td>
          <td>{{ personality.name }}</td>
          <td>{{ personality.mail }}</td>
          <td>{{ personality.sex_name }}</td>
          <td>{{ personality.age }}</td>
          <td>{{ personality.stereo_name }}</td>
          <td>{{ personality.updated_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
