{% extends "common/layout.html" %}

{% block content %}
<div class="container">
  <h1>ユースケース一覧（実装済み）</h1>
  <p>こちらでは、プロト開発したユースケースの一覧と内容を紹介します。</p>
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <td scope="col" style="width: 20%">ユースケース名</td>
        <td scope="col">内容</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1on1チャット</td>
        <td>
          <p>パーソナリティAIと1on1でチャットするサービス。</p>
          <p>現実だと会話できない人や事前に会話のシミュレーションをしておきたいという課題を解決する。</p>
          <p>以下のような使い方を想定している</p>
          <ul>
            <li>憧れの人とのコミュニケーション：リアルな有名人とは話せなくても、パーソナリティAIなら、いつでも話せる！</li>
            <li>自分1️on1：自分と対話することで、自分をよく知ったり、新しい自分に気付けたりするといいな･･･</li>
            <li>介護学習：高齢者とのコミュニケーションの練習として、まずはパーソナリティAIの高齢者と話してみませんか？</li>
            <li>プロファイリング：人（例えば犯罪者）がどのような思考を持っているか、パーソナリティAIを通して、シュミレートしてみよう。</li>
            <li>擬似プレゼン：プレゼン前に、プレゼン相手のパーソナリティAIにプレゼンして、想定質問を予想しておく。</li>
            <li>故人との会話：高齢になり、友人も亡くなって、孤独を感じている方がいるので、パーソナリティAIでアーカイブしておき、亡くなってからも話せるように。</li>
            <li>プロフェッショナルに聞いてみよう：自分が尊敬している人（プロフェッショナル）のアドバイスなら、スンナリと耳を傾けられるかも･･･</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>AIミーティング</td>
        <td>
          <p>パーソナリティAI同士で会話させるサービス。</p>
          <p>家族会議でなかなか決まらないこと、会社での長い会議をパーソナリティAIを使うことで、擬似的に実施することで、会議時間の課題を解決する。</p>
          <p>パーソナリティAIによるAIミーティングが出した結論ありきで、意思決定や実会議を行うことで、効率化を図る。</p>
          <p>以下のような使い方を想定している</p>
          <ul>
            <li>家族ミーティング：「何を食べにいくか？」「週末どこに行くか？」など、家族でありがちなテーマ、かつ、家族のパーソナリティAI同士で会話させ、方向性を決めてもらう。</li>
            <li>会社ミーティング：会議のテーマを設定し、参加メンバーのパーソナリティAI同士で会議させることで、実会議の前に想定の結論を出し、会議を効率化させる。</li>
            <li>仮想ミーティング：実際にはなかなか実現できないパーソナリティ同士に会議させることで、新しい発見を導き出す。</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>AIアンケート</td>
        <td>
          <p>パーソナリティAIにアンケートに答えさせるサービス。</p>
          <p>屋外でのアンケート調査や社内アンケート調査で思ったより、アンケートが集まらないという課題を解決するためのサービス。</p>
          <p>アンケート内容とアンケート対象条件（性別、世代、住所、国籍など）を入力することで、パーソナリティAIから簡単に必要数のアンケート回答を得られる。</p>
          <p>AIアンケートを初期調査段階で活用し、実際のアンケート調査を更に実施する2段階の構成を取ることで、効率的なアンケート調査が実施できるようになる。</p>
        </td>
      </tr>
    </tbody>
  </table>  

</div>
{% endblock %}
