{% extends "common/layout.html" %}

{% block content %}
<div class="container">
  <h1>パーソナリティAI ～DeepCommunicationの実現にむけて～</h1>
  <h2>パーソナリティAIとは</h2>
  <p>
    パーソナリティAIとは、AIに個人の人格を与えることで、あたかも、その人が考えたり、発言したり、行動する、
    といったことを実現することを目的としたAIである。
    パーソナリティAIを活用することで、より深いコミュニケーションを実現し、社会課題の克服やSDGs達成に寄与することを目的としている。
  </p>

  <h2>パーソナリティAIの概念</h2>
  <p>
    パーソナリティAIとは、パーソナリティ心理学をベースに生成AIに人格を組み込んだAIである。
    人格（パーソナリティ）は、外的環境（これまでの経験）と性格などから形成されると言われている。
    そのため、本アプリケーションでは、パーソナリティに必要な要素を以下の4つに定め、管理している
  </p>
  <ul>
    <li>基本情報：性別・年齢・出身地・趣味・好きなものなど、よく自己紹介などで使われる項目</li>
    <li>経歴・キャリア： 最終学歴や働き場所、どんな活動をしてきたかなどの情報</li>
    <li>ステレオタイプ： 16Personalitiesによる性格診断の結果</li>
    <li>詳細情報： その人の持つ人格や特長がわかりやすいエピソードや情報</li>
  </ul>
  <p>
    上記の項目は、まだ仮説段階で、今後の精度検証などを通して、洗練化していく予定である。
    また、ステレオタイプとして、今回はMBTIの16Personalitieを用いたが、他にも「ビッグファイブ」
    「エニアグラム」「mgram」などが存在するため、今後、評価していきたい。
    それから、<b>筆者はパーソナリティ心理学者ではないため、解釈に間違いがあったり、
    学術的に不適切な記載がある可能性</b>があります。予め、ご了承ください。
  </p>

  <h2>パーソナリティAIの現時点での精度</h2>
  <p>
    パーソナリティAIがどのくらい、人の人格を表すことができているかの検証を行った。
    今回は、下図に示すように、性格診断テストを用い、人が入力した結果から、パーソナリティを抽出し、
    そのパーソナリティを持ったAIに再度、性格診断テストを実施することで検証している。
  </p>
  <img src="{{ url_for('static', filename='images/eva_personalityai.png') }}">
  <p>
    結果としては、質問への回答誤差がRSMEでXXとなり、診断結果誤差がRSMEで1.11となった。
    回答誤差は、7つの選択肢の中で、人とAIの選択が平均で1くらいであることを指しており、
    高精度とは言い難いが一定の精度は出ていると思われる。
    また、診断結果誤差は、パーセンテージの誤差で、診断結果より得られる、
    「外向性」「直感型」「思考型」「計画性」「自己主張型」の5要素の精度となっている。
    こちらも、3.35となっており、高精度とは言えないが、一定の精度は出ていることが確認できている。
  </p>
  <p>  
    よって、パーソナリティAIを登録する際は、事前に性格診断サイトにて診断を実施してもらい、
    そのデータ（ステレオタイプや診断結果のパーセンテージ）を入力してもらうことが望ましい。
    最後に、上記はサンプル数が4しかないため、今後、きちんとした精度評価を実施する必要がある。
  </p>

  <h2>パーソナリティAIで実現したいこと</h2>
  <p>
     本テーマに取り組むに至った理由として、実際の業務の中で、「〇〇さんが担当していたが退職したから分からない」
     「今はいないけど、△△さんに聞いてみたい」といったことが立て続けに数件続いて、AIで解決できないかと思ったためである。
     また、こういった課題は、日本で起こっている現象で、以下のような状態をパーソナリティAIで解決したいと思ったからである。
  </p>
  <ul>
    <li>日本の人口の減少・高齢化</li>
    <li>有用スキル・業界知識・案件知識保持者の退職・転職</li>
    <li>仕事の高度化・複雑化・流動性</li>
    <li>コミュニケーション障害者の増加</li>
  </ul>
  <p>
    これからの時代を生きていく人は、より多忙になり、より高度なことを求められると思われる。
    そんな時代を生きる人々をサポートする自分の分身（パーソナリティAI）を作ることで、
    より本質的なコミュニケーションに注力し、豊かな生活・人生を送れる世界を創出したい。
  </p>
  <p>
    また、パーソナリティAIを用いることで、現状あるコミュニケーションのハードルを下げ、
    より段階的、かつ、効率的なコミュニケーションが取れる社会を実現したい。
  </p>
  <p>
    具体的な実現方法・ユースケースには、今回のプロトで実装した3つのユースケース、および、
    現時点で出ているユースケースのアイディアを1つずつ実証して、より有効なユースケースを導き出していく。
  </p>
  <ul>
    <li><a href="{{ url_for('use_case_list') }}">ユースケース一覧へ</a></li>
    <li><a href="{{ url_for('idea_list') }}">アイディア集へ</a></li>
  </ul>

  <h2>パーソナリティAIの今後（これから実践すべきこと）</h2>
  <p>
    兎にも角にも、まずは精度向上が必要で、あたかもその人が話しているかのような回答にしていく必要がある。
    それには、サンプル数を増やすこと、実証を数多くこなすことが必要であり、まずはそれに取り組む。
  </p>
  <img src="{{ url_for('static', filename='images/next_personalityai.png') }}">
  <p>
    次に、上図に示すように、「パーソナリティは時間軸で変化する」「パーソナリティは階層構造化できる」という
    2つの概念を取り入れたいと考えている。この2つの概念を取り入れることにより、未来を予測したり、
    汎化・特化することで、さまざまなパーソナリティAIが創れると思われるので、こちらにも取り組んでいく。
  </p>

  <h2>パーソナリティAIから広がる世界</h2>
  <p>
    ユースケース一覧やアイディア集では、パーソナリティAIを用いたサービス案を紹介している。
    ここで、パーソナリティAI自体を拡張していくと、どのような世界が待っているかを一例として紹介しておく（まだまだ仮定の話ですが…）。
  </p>
  <img src="{{ url_for('static', filename='images/future_personalityai.png') }}">
  <ul>
    <li>左軸では、より精神面での深化を行うことで、よりその人らしい個性を表現できるようになると思われる。</li>
    <li>右軸では、身体的に行動を判断させて、メタバース上での行動やロボティクスへの活用が見えてくる。</li>
    <li>上軸では、複数のパーソナリティAIを交流させることで、様々なシミュレーションが実現可能になる。</li>
    <li>下軸では、RAG等による知識のアーカイブやファインチューニングなどにより、知識と思考を保存できるようになる。</li>
  </ul>
  <p>
    そして、それらの掛け合わせにより、今まで実現できなかったことが1つずつ実現される世の中になると予想している。
  </p>
  <p>
    最後に、こういった未来を創るため、日々、邁進していきたい。
  </p>

</div>
{% endblock %}
